<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHV | Sobre a empresa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>

<body>
    <header>
        <h1>
            <p>PHV</p> Sistemas e Tecnologias
        </h1>
        <nav>
            <ul>
                <li><a href="/landing">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <p>A PHV é uma empresa dedicada a orientar alunos na construção de suas carreiras profissionais, oferecendo
                um questionário personalizado que auxilia na identificação de caminhos e objetivos para o futuro.</p>
        </div>
    </main>
    <footer>&copy; <b>PHV</b> - Todos os direitos reservados</footer>
</body>

</html>