<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHV | Login do Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}">
</head>

<body>
    <header>
        <h1>
            PHV Sistemas e Tecnologias
        </h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Sobre a Empresa</a></li>
                <li><a href="/redirect">Login Adm</a></li>
            </ul>
        </nav>

    </header>

    <main>
        <div class="login-page-container">
            <div class="container-header">
                <a href="javascript:history.back()" class="back-button">➜</a>
                <h1>Login do Administrador</h1>
            </div>


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flash-messages">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('show_login_form') }}">
                <div class="login-form-group">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="login-form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="login-page-btn">Entrar</button>
            </form>
            
        </div>
    </main>

    <footer>&copy; <b>PHV</b> - Todos os direitos reservados</footer>
</body>

</html>